* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 1em;
    color: #555;
    cursor: default;
}
.logo span {
    color: #7d2ae8;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}


.skills {
    max-width: 1500px;
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-header {
    text-align: center;
    margin-bottom: 40px;
}

.skills-header h1 {
    font-size: 36px;
    color: #333;
}

.skills-header p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.skill-category {
    flex: 1 1 calc(30% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-category h2 {
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #555;
}

.skill-category ul {
    list-style-type: none;
}

.skill-category ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.icon {
    font-size: 24px;
    color: #6c63ff;
}
